body {
  background: lightyellow;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  height: 80vh;
  width: 100%;
}

.header {
  background: lightskyblue;
  height: 10vh;
  width: 100%;
}

.footer {
  background: lightskyblue;
  height: 10vh;
  width: 100%;
}
