body {
  background: lightskyblue;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list-div {
  width: 50%;
  max-height: 400px;
  margin-bottom: 10px;
  margin-top: 10px;
  overflow: auto;
}

.list-group {
  text-align: center;
}
